/deployment/passwords/ansible-vault.password
/deployment/tarballs/divi.zip
/terraform/digitalocean/*.backup
/terraform/digitalocean/.terraform/providers
/terraform/digitalocean/terraform.tfvars
/terraform/digitalocean/terraform.tfstate
/jitsi/victoria_bash_history
/discuss/dump.sql
/deployment/data/the-events-calendar
/deployment/data/the-events-calendar.*.zip
/discuss/east-bay-for-everyone-2025-07-21-193421-v20240110040813.tar.gz
/discuss/discourse-2025*
